<%- include('partials/navbar') %>

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>CGU - Claire Nicolas</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/png" href="/public/img/logo.jpeg">
</head>
<body>
  <h1>Conditions Générales d’Utilisation</h1>
  <p class="foot">En utilisant ce site, vous acceptez nos conditions générales d'utilisation. Nous nous réservons le droit de modifier ces conditions à tout moment.</p>

  <%- include('partials/footer') %>
</body>
</html>
