<%- include('partials/navbar') %>

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Contact - Claire Nicolas</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><Contactez-moi></Contactez-moi></h1>
  <p class="foot">Pour toute question ou suggestion, vous pouvez m'écrire à <a href="mailto:claire.nicolas38@orange.fr">claire.nicolas38@orange.fr</a>.</p>

  <%- include('partials/footer') %>
</body>
</html>
